
    {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap CSS -->
  <link href="/static/CMdiagnose/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


  <link rel="stylesheet" type="text/css" href="{% static 'CMdiagnose/multi-select/css/multi-select.css' %}">
  <style>

      .RNNXgb {
        background: #fff;
        display: flex;
        /* border-radius: 8px; */
        border: 1px solid #dfe1e5;
        box-shadow: none;
        /* border-radius: 24px; */
        z-index: 3;
        height: 44px;
        margin: 0 auto;
        width: 500px;
      }
    </style>

  <p>本資料庫的內容來源繁雜，不及備載，僅供學術參考，不作商業用途，其著作權各歸其原作者或其出版社所有。若有真實疾患請尋求合法醫師，非中醫師請勿擅自處方服藥。</p>
  <br>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}



<form action="{% url 'CMdiagnose:newyext' %}" method="post" id="my_form">
  {% csrf_token %}
  <div class="RNNXgb" align="center">
      <!-- <label>General Symptoms</label> -->
      <input type="text" id="generext" name="generext" size="70" placeholder='請輸入症狀名稱，藥材名稱，或所包含的漢字（簡繁體皆可，系統自帶簡轉繁功能）'>
      &nbsp;
      <button class="btn btn-primary" type="submit" value="載入">載入</button><br>
    </div>
  </br></br>
  <div align="center" clsee="container3">
  
  
      <div align="center">
          <p>以下為症狀輔助查找系統，若您不熟悉症狀名稱，可任意打入一個漢字，與該字相關的症狀名稱將會在選項框中出現。</p>
          <p>當症狀名稱被選定後，關閉彈出的確認窗口，您選定的症狀名稱將出現在搜索欄。選項默認為繁體，可按鈕轉換為簡體。</p>
          簡繁轉化
          <a  id="translateLink" class="btn btn-success" href="javascript:translatePage();">简体</a>
      </div>
<select multiple='multiple' class='searchable' name="general">
  <option value=小腸>小腸</option>
  <option value=三焦經行氣止痛>三焦經行氣止痛</option>
  <option value=調和藥性>調和藥性</option>
  <option value=涼血退翳>涼血退翳</option>
  <option value=止咳平喘>止咳平喘</option>
  <option value=通血脈>通血脈</option>
  <option value=大腸經清肝明目>大腸經清肝明目</option>
  <option value=清心安神>清心安神</option>
  <option value=肥人常食之>肥人常食之</option>
  <option value=膀胱經.>膀胱經.</option>
  <option value=胃經降氣化痰>胃經降氣化痰</option>
  <option value=驅蟲>驅蟲</option>
  <option value=消痞散結；外用消腫止痛>消痞散結；外用消腫止痛</option>
  <option value=無毒破血瘀>無毒破血瘀</option>
  <option value=下氣消痰>下氣消痰</option>
  <option value=祛風解痙；外用消腫止痛>祛風解痙；外用消腫止痛</option>
  <option value=攻毒殺蟲>攻毒殺蟲</option>
  <option value=除煩>除煩</option>
  <option value=退虛熱>退虛熱</option>
  <option value=歛瘡>歛瘡</option>
  <option value=健胃理氣>健胃理氣</option>
  <option value=膀胱四經清熱降火>膀胱四經清熱降火</option>
  <option value=膽經清熱燥溫>膽經清熱燥溫</option>
  <option value=腐蝕贅疣>腐蝕贅疣</option>
  <option value=氣香澀腸止瀉>氣香澀腸止瀉</option>
  <option value=脾經涼血>脾經涼血</option>
  <option value=腎經能養心益脾>腎經能養心益脾</option>
  <option value=大腸經止咳平喘>大腸經止咳平喘</option>
  <option value=理氣止痛>理氣止痛</option>
  <option value=助陽補火>助陽補火</option>
  <option value=腎經養胃健脾>腎經養胃健脾</option>
  <option value=腎經滋腎潤肺>腎經滋腎潤肺</option>
  <option value=升陽舉陷>升陽舉陷</option>
  <option value=化瘀止血>化瘀止血</option>
  <option value=歸肝經活血調經>歸肝經活血調經</option>
  <option value=肺經利尿通淋>肺經利尿通淋</option>
  <option value=清熱平肝>清熱平肝</option>
  <option value=性大熱>性大熱</option>
  <option value=甘調經活血>甘調經活血</option>
  <option value=胃經開竅寧神>胃經開竅寧神</option>
  <option value=升舉陽氣>升舉陽氣</option>
  <option value=行氣>行氣</option>
  <option value=降逆止嘔>降逆止嘔</option>
  <option value=益胃生津>益胃生津</option>
  <option value=膀胱經利尿通淋>膀胱經利尿通淋</option>
  <option value=胃經燥濕健脾>胃經燥濕健脾</option>
  <option value=生津止渴>生津止渴</option>
  <option value=涼血消腫>涼血消腫</option>
  <option value=大腸經破氣除痞>大腸經破氣除痞</option>
  <option value=化痰明目>化痰明目</option>
  <option value=肝經清熱豁痰>肝經清熱豁痰</option>
  <option value=肝經外用蝕瘡去腐；內服劫痰平喘>肝經外用蝕瘡去腐；內服劫痰平喘</option>
  <option value=腎經補血>腎經補血</option>
  <option value=味甘散結消瘀>味甘散結消瘀</option>
  <option value=定驚止痙>定驚止痙</option>
  <option value=苦寒>苦寒</option>
  <option value=大腸經行氣>大腸經行氣</option>
  <option value=肝經化血療傷>肝經化血療傷</option>
  <option value=心經>心經</option>
  <option value=催產>催產</option>
  <option value=瀉下焦濕熱>瀉下焦濕熱</option>
  <option value=歸肝經清熱解毒>歸肝經清熱解毒</option>
  <option value=性溫清熱解毒>性溫清熱解毒</option>
  <option value=味甘微寒>味甘微寒</option>
  <option value=歸膀胱經清熱利濕>歸膀胱經清熱利濕</option>
  <option value=甘酸>甘酸</option>
  <option value=平肝明目>平肝明目</option>
  <option value=入心>入心</option>
  <option value=脾經活血止痛>脾經活血止痛</option>
  <option value=腎經滋陰潛陽>腎經滋陰潛陽</option>
  <option value=透疹消瘡>透疹消瘡</option>
  <option value=胃經解毒>胃經解毒</option>
  <option value=虛汗久瀉>虛汗久瀉</option>
  <option value=消腫散結>消腫散結</option>
  <option value=平喘>平喘</option>
  <option value=托瘡生肌>托瘡生肌</option>
  <option value=胃暖脾胃>胃暖脾胃</option>
  <option value=生首烏甘>生首烏甘</option>
  <option value=活血止血>活血止血</option>
  <option value=除熱>除熱</option>
  <option value=味辛清熱利尿>味辛清熱利尿</option>
  <option value=治痢截瘧>治痢截瘧</option>
  <option value=歸肝經活血止痛>歸肝經活血止痛</option>
  <option value=胃經清熱>胃經清熱</option>
  <option value=通絡止痛>通絡止痛</option>
  <option value=清肺潤燥>清肺潤燥</option>
  <option value=無毒>無毒</option>
  <option value=調經止痛>調經止痛</option>
  <option value=潤五臟>潤五臟</option>
  <option value=涼血解毒>涼血解毒</option>
  <option value=兼有止血>兼有止血</option>
  <option value=性溫>性溫</option>
  <option value=清肺化痰>清肺化痰</option>
  <option value=肝經涼血活血>肝經涼血活血</option>
  <option value=理氣和中>理氣和中</option>
  <option value=功專收斂止汗>功專收斂止汗</option>
  <option value=解毒消腫>解毒消腫</option>
  <option value=逐水通便>逐水通便</option>
  <option value=胃經解表>胃經解表</option>
  <option value=胃經>胃經</option>
  <option value=肝經活血調經>肝經活血調經</option>
  <option value=補肝腎>補肝腎</option>
  <option value=利濕通淋>利濕通淋</option>
  <option value=腎經散寒止痛>腎經散寒止痛</option>
  <option value=肺經補氣升陽>肺經補氣升陽</option>
  <option value=溫中暖下>溫中暖下</option>
  <option value=腎經行氣止痛>腎經行氣止痛</option>
  <option value=可助於減重>可助於減重</option>
  <option value=腎經生品潛陽安神>腎經生品潛陽安神</option>
  <option value=涼血利咽>涼血利咽</option>
  <option value=微溫；歸肝>微溫；歸肝</option>
  <option value=三焦經疏肝理氣>三焦經疏肝理氣</option>
  <option value=清熱利尿>清熱利尿</option>
  <option value=化痰生津>化痰生津</option>
  <option value=有極毒殺菌>有極毒殺菌</option>
  <option value=大腸經驅蟲消積>大腸經驅蟲消積</option>
  <option value=降氣化痰>降氣化痰</option>
  <option value=制酸>制酸</option>
  <option value=通便利水>通便利水</option>
  <option value=除骨蒸>除骨蒸</option>
  <option value=味甘微苦>味甘微苦</option>
  <option value=養血>養血</option>
  <option value=胃經養陰潤燥>胃經養陰潤燥</option>
  <option value=膀胱經祛風濕>膀胱經祛風濕</option>
  <option value=胃經解表散風>胃經解表散風</option>
  <option value=消腫排膿>消腫排膿</option>
  <option value=殺蟲療癬>殺蟲療癬</option>
  <option value=益血固精>益血固精</option>
  <option value=補肺氣>補肺氣</option>
  <option value=強腰膝>強腰膝</option>
  <option value=補肺平喘>補肺平喘</option>
  <option value=溫腎助陽>溫腎助陽</option>
  <option value=疏風散熱>疏風散熱</option>
  <option value=益腸胃>益腸胃</option>
  <option value=歸心經斂汗>歸心經斂汗</option>
  <option value=消暑利尿>消暑利尿</option>
  <option value=肺經燥濕化痰>肺經燥濕化痰</option>
  <option value=膀胱經除溼退黃>膀胱經除溼退黃</option>
  <option value=調經>調經</option>
  <option value=止帶>止帶</option>
  <option value=清熱瀉火>清熱瀉火</option>
  <option value=散結消腫>散結消腫</option>
  <option value=胃經消食和胃>胃經消食和胃</option>
  <option value=善清肺火；條芩為生長年少的子根>善清肺火；條芩為生長年少的子根</option>
  <option value=腎經清熱瀉火>腎經清熱瀉火</option>
  <option value=利水通淋>利水通淋</option>
  <option value=清火生津>清火生津</option>
  <option value=膀胱經發汗解表>膀胱經發汗解表</option>
  <option value=平；有小毒>平；有小毒</option>
  <option value=大腸經發表透疹>大腸經發表透疹</option>
  <option value=平抑肝陽>平抑肝陽</option>
  <option value=利咽>利咽</option>
  <option value=活血祛瘀>活血祛瘀</option>
  <option value=祛風濕>祛風濕</option>
  <option value=歸大腸>歸大腸</option>
  <option value=腎經祛風濕>腎經祛風濕</option>
  <option value=止煩>止煩</option>
  <option value=胃經健脾>胃經健脾</option>
  <option value=膽>膽</option>
  <option value=肺經息風止痙>肺經息風止痙</option>
  <option value=止帶止瀉>止帶止瀉</option>
  <option value=淡>淡</option>
  <option value=補腎益精>補腎益精</option>
  <option value=消癥瘕>消癥瘕</option>
  <option value=能行週身之表而實肌腠>能行週身之表而實肌腠</option>
  <option value=肺經益氣>肺經益氣</option>
  <option value=肝>肝</option>
  <option value=味辛辣>味辛辣</option>
  <option value=腎經涼血退蒸>腎經涼血退蒸</option>
  <option value=斂瘡>斂瘡</option>
  <option value=胃經消積>胃經消積</option>
  <option value=膀胱經清熱燥濕>膀胱經清熱燥濕</option>
  <option value=止血化痰>止血化痰</option>
  <option value=大腸經通陽散結>大腸經通陽散結</option>
  <option value=宣通鼻竅>宣通鼻竅</option>
  <option value=歸心；胃經>歸心；胃經</option>
  <option value=收斂生肌>收斂生肌</option>
  <option value=味苦平；入肺>味苦平；入肺</option>
  <option value=涼血消癰>涼血消癰</option>
  <option value=利尿通淋>利尿通淋</option>
  <option value=助陽化氣>助陽化氣</option>
  <option value=平；歸心>平；歸心</option>
  <option value=為治面部疾病的要藥>為治面部疾病的要藥</option>
  <option value=退翳>退翳</option>
  <option value=通利二便>通利二便</option>
  <option value=療傷續折>療傷續折</option>
  <option value=攻毒散結>攻毒散結</option>
  <option value=胃經發汗透疹>胃經發汗透疹</option>
  <option value=潤肺止咳>潤肺止咳</option>
  <option value=心經平肝息風>心經平肝息風</option>
  <option value=心經活血行氣止痛>心經活血行氣止痛</option>
  <option value=鎮心安神>鎮心安神</option>
  <option value=平肝潛陽>平肝潛陽</option>
  <option value=辛溫>辛溫</option>
  <option value=利膽退黃>利膽退黃</option>
  <option value=燥濕止帶>燥濕止帶</option>
  <option value=息風止痙>息風止痙</option>
  <option value=脾經大補元氣>脾經大補元氣</option>
  <option value=寒>寒</option>
  <option value=胃經散寒止痛>胃經散寒止痛</option>
  <option value=消腫解毒>消腫解毒</option>
  <option value=大腸經補肝腎>大腸經補肝腎</option>
  <option value=清濕熱>清濕熱</option>
  <option value=腎>腎</option>
  <option value=解毒>解毒</option>
  <option value=化痰止咳>化痰止咳</option>
  <option value=大腸經清熱解毒>大腸經清熱解毒</option>
  <option value=性溫散風>性溫散風</option>
  <option value=膽經養心益肝>膽經養心益肝</option>
  <option value=利氣散結>利氣散結</option>
  <option value=滑腸通便>滑腸通便</option>
  <option value=胃經清熱燥濕>胃經清熱燥濕</option>
  <option value=消腫止痛>消腫止痛</option>
  <option value=大腸>大腸</option>
  <option value=性寒功能清熱解毒>性寒功能清熱解毒</option>
  <option value=除痰>除痰</option>
  <option value=肺經清熱解毒>肺經清熱解毒</option>
  <option value=大腸經補腎助陽>大腸經補腎助陽</option>
  <option value=健脾止瀉>健脾止瀉</option>
  <option value=腎經固精止帶>腎經固精止帶</option>
  <option value=通絡>通絡</option>
  <option value=殺蟲>殺蟲</option>
  <option value=歸胃經降氣止呃>歸胃經降氣止呃</option>
  <option value=消癰>消癰</option>
  <option value=袪風解毒>袪風解毒</option>
  <option value=助陽止瀉>助陽止瀉</option>
  <option value=清熱利濕>清熱利濕</option>
  <option value=清肺潤腸>清肺潤腸</option>
  <option value=清肝瀉火>清肝瀉火</option>
  <option value=胃經清熱化痰>胃經清熱化痰</option>
  <option value=活血定痛>活血定痛</option>
  <option value=腎經活血續傷>腎經活血續傷</option>
  <option value=止痙>止痙</option>
  <option value=止癢>止癢</option>
  <option value=澀精止瀉>澀精止瀉</option>
  <option value=膀胱經消食健胃>膀胱經消食健胃</option>
  <option value=袪風除濕>袪風除濕</option>
  <option value=發熱>發熱</option>
  <option value=苦微甘>苦微甘</option>
  <option value=入胃經清涼利尿>入胃經清涼利尿</option>
  <option value=小毒>小毒</option>
  <option value=行氣利水>行氣利水</option>
  <option value=解毒療瘡>解毒療瘡</option>
  <option value=排膿>排膿</option>
  <option value=開胃消食>開胃消食</option>
  <option value=清心除煩>清心除煩</option>
  <option value=脾經回陽救逆>脾經回陽救逆</option>
  <option value=大腸經澀腸止瀉>大腸經澀腸止瀉</option>
  <option value=行氣散瘀>行氣散瘀</option>
  <option value=通大便>通大便</option>
  <option value=泄熱>泄熱</option>
  <option value=補虛>補虛</option>
  <option value=利陰退黃>利陰退黃</option>
  <option value=肝經清熱涼血>肝經清熱涼血</option>
  <option value=清熱排膿>清熱排膿</option>
  <option value=散鬱結>散鬱結</option>
  <option value=祛風>祛風</option>
  <option value=味微苦>味微苦</option>
  <option value=膀胱>膀胱</option>
  <option value=歸心經鎮心安神>歸心經鎮心安神</option>
  <option value=小腸經清熱解毒>小腸經清熱解毒</option>
  <option value=舒筋活絡>舒筋活絡</option>
  <option value=性微寒斂肺止咳>性微寒斂肺止咳</option>
  <option value=性溫溫中健胃>性溫溫中健胃</option>
  <option value=止洩>止洩</option>
  <option value=解表>解表</option>
  <option value=鹹>鹹</option>
  <option value=利小便>利小便</option>
  <option value=足厥陰經內服開竅避穢>足厥陰經內服開竅避穢</option>
  <option value=脾>脾</option>
  <option value=溫經通脈>溫經通脈</option>
  <option value=生肌止痛>生肌止痛</option>
  <option value=消食理氣>消食理氣</option>
  <option value=膀胱經清熱解毒>膀胱經清熱解毒</option>
  <option value=散瘀>散瘀</option>
  <option value=健胃>健胃</option>
  <option value=化濕和胃>化濕和胃</option>
  <option value=歸肺經潤肺化痰止咳>歸肺經潤肺化痰止咳</option>
  <option value=腎經消痰軟堅>腎經消痰軟堅</option>
  <option value=心經活血通經>心經活血通經</option>
  <option value=歸肝經清肝熱>歸肝經清肝熱</option>
  <option value=味酸>味酸</option>
  <option value=味苦>味苦</option>
  <option value=小毒利水>小毒利水</option>
  <option value=退熱除蒸>退熱除蒸</option>
  <option value=除濕>除濕</option>
  <option value=強筋骨>強筋骨</option>
  <option value=辛寒>辛寒</option>
  <option value=胃經益氣補中>胃經益氣補中</option>
  <option value=熱病煩渴>熱病煩渴</option>
  <option value=養血補心>養血補心</option>
  <option value=胃經補肺脾>胃經補肺脾</option>
  <option value=此外>此外</option>
  <option value=瀉肝膽火>瀉肝膽火</option>
  <option value=肺經溫中補脾>肺經溫中補脾</option>
  <option value=胃經清熱解毒>胃經清熱解毒</option>
  <option value=歸肺經散風除濕>歸肺經散風除濕</option>
  <option value=肝經清熱化痰>肝經清熱化痰</option>
  <option value=平肝明目多用白菊花（滁菊花）>平肝明目多用白菊花（滁菊花）</option>
  <option value=透疹>透疹</option>
  <option value=腎經補氣養陰>腎經補氣養陰</option>
  <option value=祛痰止咳>祛痰止咳</option>
  <option value=解暑熱>解暑熱</option>
  <option value=歸肝經祛風通絡>歸肝經祛風通絡</option>
  <option value=胃經清熱生津>胃經清熱生津</option>
  <option value=大腸經瀉下>大腸經瀉下</option>
  <option value=溫中止嘔>溫中止嘔</option>
  <option value=胃經殺蟲消積>胃經殺蟲消積</option>
  <option value=補虛損>補虛損</option>
  <option value=通陽散寒>通陽散寒</option>
  <option value=大腸經補中緩急>大腸經補中緩急</option>
  <option value=溫中行氣>溫中行氣</option>
  <option value=化濕>化濕</option>
  <option value=入肺>入肺</option>
  <option value=健脾安神>健脾安神</option>
  <option value=腎經破血消癓>腎經破血消癓</option>
  <option value=排膿通乳的功能>排膿通乳的功能</option>
  <option value=胃經補氣健脾>胃經補氣健脾</option>
  <option value=滲濕止瀉>滲濕止瀉</option>
  <option value=歸肺經收斂止汗>歸肺經收斂止汗</option>
  <option value=脾經發表散風>脾經發表散風</option>
  <option value=療癬>療癬</option>
  <option value=苦辛>苦辛</option>
  <option value=欖仁：甘>欖仁：甘</option>
  <option value=提神醒腦>提神醒腦</option>
  <option value=胃經外用清熱解毒>胃經外用清熱解毒</option>
  <option value=肺經利膽退黃>肺經利膽退黃</option>
  <option value=消散癰腫>消散癰腫</option>
  <option value=利濕退黃>利濕退黃</option>
  <option value=收斂止血>收斂止血</option>
  <option value=歸膀胱>歸膀胱</option>
  <option value=止血安胎>止血安胎</option>
  <option value=肺經行氣止痛>肺經行氣止痛</option>
  <option value=肺經理氣健脾>肺經理氣健脾</option>
  <option value=除痰截瘧>除痰截瘧</option>
  <option value=如十味敗毒散>如十味敗毒散</option>
  <option value=理肺止咳>理肺止咳</option>
  <option value=散寒>散寒</option>
  <option value=甘鹹平>甘鹹平</option>
  <option value=腎經補腎益精>腎經補腎益精</option>
  <option value=瀉下通滯>瀉下通滯</option>
  <option value=益精填髓>益精填髓</option>
  <option value=歸肝經破血逐瘀消徵>歸肝經破血逐瘀消徵</option>
  <option value=破瘀>破瘀</option>
  <option value=消疳>消疳</option>
  <option value=肝經活血療傷>肝經活血療傷</option>
  <option value=胃經澀腸止瀉>胃經澀腸止瀉</option>
  <option value=胃經發散風寒>胃經發散風寒</option>
  <option value=軟堅散結>軟堅散結</option>
  <option value=歸肝經平肝潛陽>歸肝經平肝潛陽</option>
  <option value=溫中止嘔止瀉>溫中止嘔止瀉</option>
  <option value=肝經涼血止血>肝經涼血止血</option>
  <option value=固經止血>固經止血</option>
  <option value=祛風明目>祛風明目</option>
  <option value=攻毒>攻毒</option>
  <option value=止痛通經>止痛通經</option>
  <option value=辛苦>辛苦</option>
  <option value=三焦經瀉火除煩>三焦經瀉火除煩</option>
  <option value=歸肝經行血補血>歸肝經行血補血</option>
  <option value=味淡>味淡</option>
  <option value=性寒清熱生津>性寒清熱生津</option>
  <option value=歸肺經潤肺止咳>歸肺經潤肺止咳</option>
  <option value=肺經疏肝解鬱>肺經疏肝解鬱</option>
  <option value=微苦>微苦</option>
  <option value=涼血>涼血</option>
  <option value=除煩熱>除煩熱</option>
  <option value=腎經補中益氣>腎經補中益氣</option>
  <option value=有大毒拔毒>有大毒拔毒</option>
  <option value=制酸止痛>制酸止痛</option>
  <option value=活血通經>活血通經</option>
  <option value=養陰生津>養陰生津</option>
  <option value=涼血止血>涼血止血</option>
  <option value=舒肝退黃>舒肝退黃</option>
  <option value=接骨療傷>接骨療傷</option>
  <option value=癲狂驚等症；煅後功偏收斂固澀>癲狂驚等症；煅後功偏收斂固澀</option>
  <option value=活血止痛>活血止痛</option>
  <option value=主治濕疹>主治濕疹</option>
  <option value=鹹平無毒>鹹平無毒</option>
  <option value=斂肺止咳>斂肺止咳</option>
  <option value=心經清熱化痰>心經清熱化痰</option>
  <option value=收濕生肌斂瘡>收濕生肌斂瘡</option>
  <option value=胃痛及小兒驚風等>胃痛及小兒驚風等</option>
  <option value=大腸經製首烏補益精血>大腸經製首烏補益精血</option>
  <option value=大腸經補腎陽>大腸經補腎陽</option>
  <option value=入肝>入肝</option>
  <option value=固精>固精</option>
  <option value=歸胃經攻毒殺蟲>歸胃經攻毒殺蟲</option>
  <option value=腎經溫腎補精>腎經溫腎補精</option>
  <option value=熱>熱</option>
  <option value=胃經疏散風熱>胃經疏散風熱</option>
  <option value=解毒消癰>解毒消癰</option>
  <option value=消暑>消暑</option>
  <option value=小腸經>小腸經</option>
  <option value=胃經溫肺>胃經溫肺</option>
  <option value=胃經解毒除濕>胃經解毒除濕</option>
  <option value=化痰散結>化痰散結</option>
  <option value=歸肝經養肝明目>歸肝經養肝明目</option>
  <option value=古醫書中多有記載>古醫書中多有記載</option>
  <option value=涼血消斑>涼血消斑</option>
  <option value=除煩止渴>除煩止渴</option>
  <option value=澀精止遺>澀精止遺</option>
  <option value=納氣平喘>納氣平喘</option>
  <option value=大腸經收斂止血>大腸經收斂止血</option>
  <option value=甘>甘</option>
  <option value=大腸經殺蟲>大腸經殺蟲</option>
  <option value=清解暑熱>清解暑熱</option>
  <option value=清利頭目>清利頭目</option>
  <option value=化痰開竅>化痰開竅</option>
  <option value=益氣健脾>益氣健脾</option>
  <option value=清心定驚>清心定驚</option>
  <option value=解酒毒>解酒毒</option>
  <option value=味甘；鹹；性寒>味甘；鹹；性寒</option>
  <option value=肝經祛風通絡>肝經祛風通絡</option>
  <option value=滲濕熱>滲濕熱</option>
  <option value=膀胱經鎮驚安神>膀胱經鎮驚安神</option>
  <option value=脾經破血行氣>脾經破血行氣</option>
  <option value=腎經補肝腎陰>腎經補肝腎陰</option>
  <option value=苦>苦</option>
  <option value=心經清熱解毒>心經清熱解毒</option>
  <option value=胃經清虛熱>胃經清虛熱</option>
  <option value=能收濕斂瘡>能收濕斂瘡</option>
  <option value=平肝鎮驚>平肝鎮驚</option>
  <option value=解鬱清心>解鬱清心</option>
  <option value=膽經清肝火>膽經清肝火</option>
  <option value=止血>止血</option>
  <option value=脾經燥濕化痰>脾經燥濕化痰</option>
  <option value=脾經行氣解鬱>脾經行氣解鬱</option>
  <option value=膽經清熱解毒>膽經清熱解毒</option>
  <option value=歸腎經殺蟲止癢>歸腎經殺蟲止癢</option>
  <option value=歸肝經破瘀血>歸肝經破瘀血</option>
  <option value=通竅止痛>通竅止痛</option>
  <option value=腎經安神>腎經安神</option>
  <option value=微甘>微甘</option>
  <option value=日久不愈者>日久不愈者</option>
  <option value=肝經消食健胃>肝經消食健胃</option>
  <option value=脾經清熱解毒>脾經清熱解毒</option>
  <option value=性微寒功效與敗醬草相似>性微寒功效與敗醬草相似</option>
  <option value=辛苦溫>辛苦溫</option>
  <option value=透疹止癢>透疹止癢</option>
  <option value=無毒；熟者甘>無毒；熟者甘</option>
  <option value=歸肺>歸肺</option>
  <option value=歸大腸經清熱解毒>歸大腸經清熱解毒</option>
  <option value=止渴>止渴</option>
  <option value=續筋骨>續筋骨</option>
  <option value=大腸經潤腸通便>大腸經潤腸通便</option>
  <option value=截瘧>截瘧</option>
  <option value=膀胱經行氣止痛>膀胱經行氣止痛</option>
  <option value=胃經行血通經>胃經行血通經</option>
  <option value=脾經舒筋活絡>脾經舒筋活絡</option>
  <option value=散寒止痛>散寒止痛</option>
  <option value=心經養陰潤肺止咳>心經養陰潤肺止咳</option>
  <option value=胃經功同綠豆而力弱>胃經功同綠豆而力弱</option>
  <option value=酸平>酸平</option>
  <option value=腎經益氣補虛>腎經益氣補虛</option>
  <option value=歸肝經息風止痙>歸肝經息風止痙</option>
  <option value=行氣導滯>行氣導滯</option>
  <option value=膀胱經涼血止血>膀胱經涼血止血</option>
  <option value=生肌>生肌</option>
  <option value=鎮咳藥用>鎮咳藥用</option>
  <option value=安神>安神</option>
  <option value=斂汗>斂汗</option>
  <option value=煩躁易怒>煩躁易怒</option>
  <option value=甘平無毒>甘平無毒</option>
  <option value=清熱止痛>清熱止痛</option>
  <option value=微寒>微寒</option>
  <option value=入肝經祛風通絡>入肝經祛風通絡</option>
  <option value=肝經墜痰下氣>肝經墜痰下氣</option>
  <option value=解暑>解暑</option>
  <option value=胃經利濕去濁>胃經利濕去濁</option>
  <option value=歸肺經斂肺定喘>歸肺經斂肺定喘</option>
  <option value=清肝火>清肝火</option>
  <option value=甘澀微溫無毒>甘澀微溫無毒</option>
  <option value=清熱>清熱</option>
  <option value=溫中止痛>溫中止痛</option>
  <option value=燥濕消腫>燥濕消腫</option>
  <option value=疏散風熱多用黃菊花（杭菊花）>疏散風熱多用黃菊花（杭菊花）</option>
  <option value=現多用作滋補強壯藥>現多用作滋補強壯藥</option>
  <option value=甘微寒>甘微寒</option>
  <option value=小腸經利尿通淋>小腸經利尿通淋</option>
  <option value=活血消積>活血消積</option>
  <option value=安蛔止癰>安蛔止癰</option>
  <option value=通鼻竅>通鼻竅</option>
  <option value=止血收濕>止血收濕</option>
  <option value=瀉火解毒>瀉火解毒</option>
  <option value=澀腸止瀉>澀腸止瀉</option>
  <option value=鹹辛>鹹辛</option>
  <option value=胃經解毒明目退翳>胃經解毒明目退翳</option>
  <option value=清肺降火>清肺降火</option>
  <option value=益氣養血>益氣養血</option>
  <option value=為止汗專藥>為止汗專藥</option>
  <option value=利尿>利尿</option>
  <option value=主治氣喘>主治氣喘</option>
  <option value=祛瘀>祛瘀</option>
  <option value=通經絡>通經絡</option>
  <option value=歸肝>歸肝</option>
  <option value=潰膿>潰膿</option>
  <option value=祛痰利咽>祛痰利咽</option>
  <option value=大腸經溫中止痛>大腸經溫中止痛</option>
  <option value=膀胱經瀉肺平喘>膀胱經瀉肺平喘</option>
  <option value=祛風止痛>祛風止痛</option>
  <option value=定驚>定驚</option>
  <option value=心經瀉下攻積>心經瀉下攻積</option>
  <option value=歸胃>歸胃</option>
  <option value=濕瘡癢疹>濕瘡癢疹</option>
  <option value=入大腸>入大腸</option>
  <option value=酒醉>酒醉</option>
  <option value=胃經發汗解表>胃經發汗解表</option>
  <option value=糖尿病>糖尿病</option>
  <option value=胃經養陰潤肺>胃經養陰潤肺</option>
  <option value=固精止帶>固精止帶</option>
  <option value=涼肝定驚>涼肝定驚</option>
  <option value=腎經補肝腎>腎經補肝腎</option>
  <option value=大腸經補腎強腰>大腸經補腎強腰</option>
  <option value=胃經活血消癥>胃經活血消癥</option>
  <option value=另外民間用來治療皮膚病與蕁麻疹>另外民間用來治療皮膚病與蕁麻疹</option>
  <option value=腎經活血通經>腎經活血通經</option>
  <option value=腎經平肝潛陽>腎經平肝潛陽</option>
  <option value=潤肺>潤肺</option>
  <option value=性寒清熱>性寒清熱</option>
  <option value=通經活絡>通經活絡</option>
  <option value=歸胃經涌吐痰食>歸胃經涌吐痰食</option>
  <option value=心包經息風止痙>心包經息風止痙</option>
  <option value=小腸經潤腸順便>小腸經潤腸順便</option>
  <option value=疏散風熱>疏散風熱</option>
  <option value=化瘀利尿>化瘀利尿</option>
  <option value=製首烏甘>製首烏甘</option>
  <option value=滋陰解毒>滋陰解毒</option>
  <option value=和它藥研末調敷>和它藥研末調敷</option>
  <option value=止痛等功效>止痛等功效</option>
  <option value=腎經斂肺降火>腎經斂肺降火</option>
  <option value=養血安神>養血安神</option>
  <option value=散寒調中>散寒調中</option>
  <option value=胃經養陰清肺>胃經養陰清肺</option>
  <option value=歸脾>歸脾</option>
  <option value=腎經養陰清熱>腎經養陰清熱</option>
  <option value=養心>養心</option>
  <option value=引火（血）下行>引火（血）下行</option>
  <option value=有毒>有毒</option>
  <option value=益腎健骨>益腎健骨</option>
  <option value=泄心火>泄心火</option>
  <option value=肝經涌吐痰涎>肝經涌吐痰涎</option>
  <option value=腎經溫中降逆>腎經溫中降逆</option>
  <option value=脾經散結消腫>脾經散結消腫</option>
  <option value=清虛熱>清虛熱</option>
  <option value=腎經益肝腎>腎經益肝腎</option>
  <option value=內服清肺化痰>內服清肺化痰</option>
  <option value=消癰散結>消癰散結</option>
  <option value=養肝明目>養肝明目</option>
  <option value=膀胱清熱>膀胱清熱</option>
  <option value=南方沿海漁民有食河豚魚時在鍋內放幾枚橄欖的習慣>南方沿海漁民有食河豚魚時在鍋內放幾枚橄欖的習慣</option>
  <option value=明目退翳>明目退翳</option>
  <option value=止咳祛痰>止咳祛痰</option>
  <option value=發泡冷灸>發泡冷灸</option>
  <option value=胃經消食健胃>胃經消食健胃</option>
  <option value=寧心安神>寧心安神</option>
  <option value=止痛>止痛</option>
  <option value=通經>通經</option>
  <option value=生津明目>生津明目</option>
  <option value=胃經清熱瀉火>胃經清熱瀉火</option>
  <option value=腎經>腎經</option>
  <option value=大腸經澀腸>大腸經澀腸</option>
  <option value=作為解毒>作為解毒</option>
  <option value=補腎強筋>補腎強筋</option>
  <option value=胃經殺蟲>胃經殺蟲</option>
  <option value=胃經清肺利咽>胃經清肺利咽</option>
  <option value=又治濕瘡流水>又治濕瘡流水</option>
  <option value=胃經行氣散結>胃經行氣散結</option>
  <option value=腎經消炎解毒>腎經消炎解毒</option>
  <option value=尿閉>尿閉</option>
  <option value=潤腸通便>潤腸通便</option>
  <option value=胃鎮心>胃鎮心</option>
  <option value=明目>明目</option>
  <option value=性味平甘>性味平甘</option>
  <option value=益脈>益脈</option>
  <option value=清肝>清肝</option>
  <option value=脾經溫腎壯陽>脾經溫腎壯陽</option>
  <option value=脾經祛風濕>脾經祛風濕</option>
  <option value=肝經壯腎陽>肝經壯腎陽</option>
  <option value=溫腎壯陽>溫腎壯陽</option>
  <option value=通經止痛>通經止痛</option>
  <option value=痔瘡>痔瘡</option>
  <option value=溫；有毒>溫；有毒</option>
  <option value=有毒解毒>有毒解毒</option>
  <option value=肝經活血通經>肝經活血通經</option>
  <option value=暖脾止瀉>暖脾止瀉</option>
  <option value=多用於遺精早泄>多用於遺精早泄</option>
  <option value=斂瘡生肌>斂瘡生肌</option>
  <option value=松蘿茶具有較高的藥用價值>松蘿茶具有較高的藥用價值</option>
  <option value=腎經鎮驚安神>腎經鎮驚安神</option>
  <option value=大腸經瀉下逐飲>大腸經瀉下逐飲</option>
  <option value=腎經補益肝腎>腎經補益肝腎</option>
  <option value=平止血>平止血</option>
  <option value=固精止遺>固精止遺</option>
  <option value=收斂瘡口>收斂瘡口</option>
  <option value=大腸經逐水消腫>大腸經逐水消腫</option>
  <option value=定驚利竅>定驚利竅</option>
  <option value=縮小便>縮小便</option>
  <option value=止癢>止癢</option>
  <option value=腎經斂肺滋腎>腎經斂肺滋腎</option>
  <option value=肝經祛風除濕>肝經祛風除濕</option>
  <option value=入肺大腸經有活血消腫>入肺大腸經有活血消腫</option>
  <option value=散寒調經>散寒調經</option>
  <option value=膽經疏散退熱>膽經疏散退熱</option>
  <option value=解毒散結>解毒散結</option>
  <option value=能解一切魚鱉之毒>能解一切魚鱉之毒</option>
  <option value=解毒醒酒>解毒醒酒</option>
  <option value=腸經清暑解熱>腸經清暑解熱</option>
  <option value=補火助陽通便>補火助陽通便</option>
  <option value=心經利尿消腫>心經利尿消腫</option>
  <option value=肝經補腎陽>肝經補腎陽</option>
  <option value=燥濕痰>燥濕痰</option>
  <option value=消積化滯>消積化滯</option>
  <option value=性溫祛風散寒>性溫祛風散寒</option>
  <option value=味辛>味辛</option>
  <option value=脾經活血行氣止痛>脾經活血行氣止痛</option>
  <option value=酸>酸</option>
  <option value=寒；有小毒>寒；有小毒</option>
  <option value=大腸外用解毒>大腸外用解毒</option>
  <option value=破血>破血</option>
  <option value=入脾>入脾</option>
  <option value=大腸經田螺肉具有清熱>大腸經田螺肉具有清熱</option>
  <option value=脾經發汗解表>脾經發汗解表</option>
  <option value=降壓>降壓</option>
  <option value=定喘嗽>定喘嗽</option>
  <option value=燥濕利水>燥濕利水</option>
  <option value=消炎利耳>消炎利耳</option>
  <option value=托瘡毒>托瘡毒</option>
  <option value=祛濕退黃>祛濕退黃</option>
  <option value=解毒斂瘡>解毒斂瘡</option>
  <option value=肝經疏散風熱>肝經疏散風熱</option>
  <option value=通便>通便</option>
  <option value=止疳痢>止疳痢</option>
  <option value=脾經補益心脾>脾經補益心脾</option>
  <option value=膽經祛風濕>膽經祛風濕</option>
  <option value=利濕消腫>利濕消腫</option>
  <option value=胃經清肺化痰止咳>胃經清肺化痰止咳</option>
  <option value=核：甘>核：甘</option>
  <option value=散瘀解毒消癰>散瘀解毒消癰</option>
  <option value=解毒殺蟲>解毒殺蟲</option>
  <option value=大熱>大熱</option>
  <option value=辛>辛</option>
  <option value=疏肝和胃>疏肝和胃</option>
  <option value=微溫>微溫</option>
  <option value=平肝止痛>平肝止痛</option>
  <option value=散痞>散痞</option>
  <option value=即生長年久的宿根>即生長年久的宿根</option>
  <option value=黃疸等>黃疸等</option>
  <option value=除煩止嘔>除煩止嘔</option>
  <option value=胃經收斂止血>胃經收斂止血</option>
  <option value=活血通絡>活血通絡</option>
  <option value=腎經溫腎壯陽>腎經溫腎壯陽</option>
  <option value=脫腐>脫腐</option>
  <option value=腎經祛風除濕>腎經祛風除濕</option>
  <option value=涼血止痢>涼血止痢</option>
  <option value=味甘鹹>味甘鹹</option>
  <option value=腎經利水滲濕>腎經利水滲濕</option>
  <option value=腎經溫中止痛>腎經溫中止痛</option>
  <option value=脾經補腎固精>脾經補腎固精</option>
  <option value=脾經補血>脾經補血</option>
  <option value=息風止痙>息風止痙</option>
  <option value=補腎助陽>補腎助陽</option>
  <option value=澀>澀</option>
  <option value=膽經清利濕熱>膽經清利濕熱</option>
  <option value=腎經清虛熱>腎經清虛熱</option>
  <option value=咳嗽>咳嗽</option>
  <option value=和胃>和胃</option>
  <option value=固衛氣>固衛氣</option>
  <option value=入腎>入腎</option>
  <option value=開胃降氣>開胃降氣</option>
  <option value=有大毒>有大毒</option>
  <option value=腎經助腎陽>腎經助腎陽</option>
  <option value=通乳>通乳</option>
  <option value=消積>消積</option>
  <option value=心包經行血去瘀>心包經行血去瘀</option>
  <option value=止咳嗽>止咳嗽</option>
  <option value=味甘平；人脾>味甘平；人脾</option>
  <option value=生者甘>生者甘</option>
  <option value=微寒；有小毒>微寒；有小毒</option>
  <option value=肺經補脾益氣>肺經補脾益氣</option>
  <option value=歸膀胱經祛風濕>歸膀胱經祛風濕</option>
  <option value=益衛固表>益衛固表</option>
  <option value=升陽止瀉>升陽止瀉</option>
  <option value=歸胃經清熱解毒>歸胃經清熱解毒</option>
  <option value=肝經補火助陽>肝經補火助陽</option>
  <option value=行氣止痛>行氣止痛</option>
  <option value=微辛>微辛</option>
  <option value=肝經清熱解毒>肝經清熱解毒</option>
  <option value=肝經消痰軟堅散結>肝經消痰軟堅散結</option>
  <option value=辛消腫拔毒>辛消腫拔毒</option>
  <option value=膽經養心安神>膽經養心安神</option>
  <option value=殺蟲療瘡>殺蟲療瘡</option>
  <option value=大腸經瀉水逐飲>大腸經瀉水逐飲</option>
  <option value=大腸經降氣化痰>大腸經降氣化痰</option>
  <option value=歸肝經涼血化瘀止血>歸肝經涼血化瘀止血</option>
  <option value=甘微苦>甘微苦</option>
  <option value=助陽>助陽</option>
  <option value=本品又分枯芩>本品又分枯芩</option>
  <option value=斂陰止汗>斂陰止汗</option>
  <option value=外用除濕殺蟲>外用除濕殺蟲</option>
  <option value=胃經疏肝理氣>胃經疏肝理氣</option>
  <option value=性涼>性涼</option>
  <option value=利濕>利濕</option>
  <option value=整腸>整腸</option>
  <option value=滋陰潤肺>滋陰潤肺</option>
  <option value=祛瘀止痛>祛瘀止痛</option>
  <option value=性平清熱利濕>性平清熱利濕</option>
  <option value=祛寒濕>祛寒濕</option>
  <option value=肺經清熱涼血>肺經清熱涼血</option>
  <option value=肺經利水滲濕>肺經利水滲濕</option>
  <option value=主入肺經>主入肺經</option>
  <option value=大腸經敗毒抗癌>大腸經敗毒抗癌</option>
  <option value=興奮>興奮</option>
  <option value=胃經化瘀止血>胃經化瘀止血</option>
  <option value=<br/>><br/></option>
  <option value=化痰稍積>化痰稍積</option>
  <option value=下乳>下乳</option>
  <option value=收斂固澀>收斂固澀</option>
  <option value=通竅>通竅</option>
  <option value=主治尿赤熱痛>主治尿赤熱痛</option>
  <option value=補脾益肺>補脾益肺</option>
  <option value=腎經補腎固精>腎經補腎固精</option>
  <option value=清肝明目>清肝明目</option>
  <option value=補中益氣>補中益氣</option>
  <option value=入肝經清肝明目>入肝經清肝明目</option>
  <option value=田螺殼有散結>田螺殼有散結</option>
  <option value=大腸經清肺化痰>大腸經清肺化痰</option>
  <option value=平>平</option>
  <option value=心包經活血行氣>心包經活血行氣</option>
  <option value=小腸經利水消腫>小腸經利水消腫</option>
  <option value=味甘苦強心>味甘苦強心</option>
  <option value=歸心經開竅醒神>歸心經開竅醒神</option>
  <option value=肝經收斂止血>肝經收斂止血</option>
  <option value=脾經收斂止血>脾經收斂止血</option>
  <option value=清熱解毒>清熱解毒</option>
  <option value=心經活血>心經活血</option>
  <option value=除熱安胎>除熱安胎</option>
  <option value=帶下崩漏>帶下崩漏</option>
  <option value=清熱化痰>清熱化痰</option>
  <option value=瘡口不斂>瘡口不斂</option>
  <option value=健胃消疳>健胃消疳</option>
  <option value=祛瘀止血>祛瘀止血</option>
  <option value=大腸經祛頑痰>大腸經祛頑痰</option>
  <option value=鹹寒>鹹寒</option>
  <option value=腎經祛風燥濕>腎經祛風燥濕</option>
  <option value=歸肺經瀉肺平喘>歸肺經瀉肺平喘</option>
  <option value=蝕瘡>蝕瘡</option>
  <option value=腎經清熱涼血>腎經清熱涼血</option>
  <option value=腎經益腎壯陽>腎經益腎壯陽</option>
  <option value=通二便>通二便</option>
  <option value=大腸經養液>大腸經養液</option>
  <option value=肺經潤肺>肺經潤肺</option>
  <option value=行水破血>行水破血</option>
  <option value=祛痰>祛痰</option>
  <option value=疏肝解鬱>疏肝解鬱</option>
  <option value=解毒透疹>解毒透疹</option>
  <option value=清肺止咳>清肺止咳</option>
  <option value=腎經清痰軟堅>腎經清痰軟堅</option>
  <option value=息風定驚>息風定驚</option>
  <option value=袪風通絡>袪風通絡</option>
  <option value=軟堅>軟堅</option>
  <option value=益氣>益氣</option>
  <option value=膀胱經利水通淋>膀胱經利水通淋</option>
  <option value=消腫>消腫</option>
  <option value=化濕和中>化濕和中</option>
  <option value=心經滋陰潛陽>心經滋陰潛陽</option>
  <option value=安胎>安胎</option>
  <option value=固精縮尿>固精縮尿</option>
  <option value=胃肝經>胃肝經</option>
  <option value=滋陰潤燥>滋陰潤燥</option>
  <option value=大腸經涼血止血>大腸經涼血止血</option>
  <option value=涼>涼</option>
  <option value=肝經清熱燥濕>肝經清熱燥濕</option>
  <option value=利諸竅>利諸竅</option>
  <option value=足厥陰經定驚>足厥陰經定驚</option>
  <option value=補脾止瀉>補脾止瀉</option>
  <option value=腎經養陰潤燥>腎經養陰潤燥</option>
  <option value=祛痰開竅>祛痰開竅</option>
  <option value=祛風殺蟲>祛風殺蟲</option>
  <option value=燥濕化痰>燥濕化痰</option>
  <option value=利咽開音>利咽開音</option>
  <option value=止渴除煩>止渴除煩</option>
  <option value=鎮肝熄風>鎮肝熄風</option>
  <option value=苦甘>苦甘</option>
  <option value=大腸經解毒殺蟲止癢>大腸經解毒殺蟲止癢</option>
  <option value=通利關節>通利關節</option>
  <option value=肺經寧心安神>肺經寧心安神</option>
  <option value=透發麻疹>透發麻疹</option>
  <option value=用於陰虛陽亢>用於陰虛陽亢</option>
  <option value=腎經益腎固精>腎經益腎固精</option>
  <option value=納氣定喘>納氣定喘</option>
  <option value=補腎強骨>補腎強骨</option>
  <option value=潤腸>潤腸</option>
  <option value=活血散瘀>活血散瘀</option>
  <option value=生津斂汗>生津斂汗</option>
  <option value=三焦>三焦</option>
  <option value=入胃>入胃</option>
  <option value=胃經化濕行氣>胃經化濕行氣</option>
  <option value=心經益腎固精>心經益腎固精</option>
  <option value=寒斂瘡生肌>寒斂瘡生肌</option>
  <option value=寬胸散結>寬胸散結</option>
  <option value=通利小便>通利小便</option>
  <option value=肺>肺</option>
  <option value=止瀉>止瀉</option>
  <option value=膀胱經利水滲濕>膀胱經利水滲濕</option>
  <option value=小腸經清熱除煩>小腸經清熱除煩</option>
  <option value=肺經化濕>肺經化濕</option>
  <option value=辛熱有毒>辛熱有毒</option>
  <option value=脾經養血調經>脾經養血調經</option>
  <option value=殺蟲解毒>殺蟲解毒</option>
  <option value=補脾益氣>補脾益氣</option>
  <option value=外傷出血等>外傷出血等</option>
  <option value=清上膈熱>清上膈熱</option>
  <option value=胃經利水清熱>胃經利水清熱</option>
  <option value=歸大腸經瀉熱行滯>歸大腸經瀉熱行滯</option>
  <option value=味甘>味甘</option>
  <option value=肺經消食除脹>肺經消食除脹</option>
  <option value=消熱痰>消熱痰</option>
  <option value=除濕和胃>除濕和胃</option>
  <option value=歸肺經潤肺止咳化痰>歸肺經潤肺止咳化痰</option>
  <option value=消癰排膿>消癰排膿</option>
  <option value=性寒>性寒</option>
  <option value=去積>去積</option>
  <option value=有小毒>有小毒</option>
  <option value=胃經補中益氣>胃經補中益氣</option>
  <option value=涼血祛風>涼血祛風</option>
  <option value=心悸失眠>心悸失眠</option>
  <option value=溫腎散寒>溫腎散寒</option>
  <option value=微溫止咳>微溫止咳</option>
  <option value=除膿>除膿</option>
  <option value=重鎮降逆>重鎮降逆</option>
  <option value=溫通經脈>溫通經脈</option>
  <option value=除痹>除痹</option>
  <option value=滋陰潤腸>滋陰潤腸</option>
  <option value=心經發汗透疹>心經發汗透疹</option>
  <option value=消骨哽>消骨哽</option>
  <option value=腎經補血滋陰>腎經補血滋陰</option>
  <option value=止帶的功效>止帶的功效</option>
  <option value=除濕止帶>除濕止帶</option>
  <option value=止嘔>止嘔</option>
  <option value=腎經溫經止血>腎經溫經止血</option>
  <option value=肺經開竅醒神>肺經開竅醒神</option>
  <option value=嘔吐>嘔吐</option>
  <option value=頭暈目眩>頭暈目眩</option>
  <option value=除熱火>除熱火</option>
  <option value=大腸經清熱化痰>大腸經清熱化痰</option>
  <option value=歸肺經祛痰降氣止咳>歸肺經祛痰降氣止咳</option>
  <option value=通淋等功效>通淋等功效</option>
  <option value=炒炭止血>炒炭止血</option>
  <option value=脾經理氣寬中>脾經理氣寬中</option>
  <option value=小腸經清心火>小腸經清心火</option>
  <option value=消積止痛>消積止痛</option>
  <option value=性平>性平</option>
  <option value=潤膚>潤膚</option>
  <option value=利水消腫>利水消腫</option>
  <option value=胃經燥濕散寒>胃經燥濕散寒</option>
  <option value=解毒散腫>解毒散腫</option>
  <option value=胃經生津液>胃經生津液</option>
  <option value=生肌定痛>生肌定痛</option>
  <option value=煅研外用>煅研外用</option>
  <option value=肝經溫腎>肝經溫腎</option>
  <option value=大腸經斂肺止咳>大腸經斂肺止咳</option>
  <option value=肝經發表散風>肝經發表散風</option>
  <option value=利咽消腫>利咽消腫</option>
  <option value=膀胱三經舒肝理氣>膀胱三經舒肝理氣</option>
  <option value=行氣寬中>行氣寬中</option>
  <option value=大腸經>大腸經</option>
  <option value=去腐>去腐</option>
  <option value=通竅開閉>通竅開閉</option>
  <option value=脾經開竅醒神>脾經開竅醒神</option>
  <option value=膀胱經溫中散寒>膀胱經溫中散寒</option>
  <option value=宣肺平喘>宣肺平喘</option>
  <option value=味辛苦>味辛苦</option>
  <option value=膀胱經收斂止血>膀胱經收斂止血</option>
  <option value=調衝任>調衝任</option>
  <option value=歸肝經平肝疏肝>歸肝經平肝疏肝</option>
  <option value=性微寒>性微寒</option>
  <option value=益肝腎>益肝腎</option>
  <option value=甘澀平>甘澀平</option>
  <option value=心經化瘀止血>心經化瘀止血</option>
  <option value=腎經散寒祛風>腎經散寒祛風</option>
  <option value=祛風除濕>祛風除濕</option>
  <option value=歸肝經清熱涼血>歸肝經清熱涼血</option>
  <option value=歸肺經宣肺化痰>歸肺經宣肺化痰</option>
  <option value=胃>胃</option>
  <option value=膀胱經清熱利水>膀胱經清熱利水</option>
  <option value=善清大腸之火>善清大腸之火</option>
  <option value=苦溫>苦溫</option>
  <option value=逐水>逐水</option>
  <option value=微寒止血>微寒止血</option>
  <option value=滑腸>滑腸</option>
  <option value=緩急止痛>緩急止痛</option>
  <option value=止汗>止汗</option>
  <option value=肝經祛風痰>肝經祛風痰</option>
  <option value=腎經益氣養陰>腎經益氣養陰</option>
  <option value=胃經驅蟲消積>胃經驅蟲消積</option>
  <option value=殺蟲利尿>殺蟲利尿</option>
  <option value=袪痰>袪痰</option>
  <option value=歸心>歸心</option>
  <option value=活血>活血</option>
  <option value=清咽止渴>清咽止渴</option>
  <option value=大腸經溫中散寒>大腸經溫中散寒</option>
  <option value=胃經解肌退熱>胃經解肌退熱</option>
  <option value=逐水退腫>逐水退腫</option>
  <option value=熄風>熄風</option>
  <option value=甘寒>甘寒</option>
  <option value=攻毒蝕瘡>攻毒蝕瘡</option>
  <option value=下氣止痛>下氣止痛</option>
  <option value=胃經 (陳粟米味苦性寒)健脾和胃>胃經 (陳粟米味苦性寒)健脾和胃</option>
  <option value=膀胱經清熱息風>膀胱經清熱息風</option>
  <option value=肝經溫經止血>肝經溫經止血</option>
  <option value=止血生肌>止血生肌</option>
  <option value=胃經溫肺化痰>胃經溫肺化痰</option>
  <option value=利尿除濕>利尿除濕</option>
  <option value=大寒>大寒</option>
  <option value=化骨止瀉>化骨止瀉</option>
  <option value=緩和藥性>緩和藥性</option>
  <option value=歸腎>歸腎</option>
  <option value=心二經清心益腎>心二經清心益腎</option>
  <option value=歸肺經清熱解毒>歸肺經清熱解毒</option>
  <option value=溫肺止咳>溫肺止咳</option>
  <option value=消廱腫>消廱腫</option>
  <option value=勝濕止痛>勝濕止痛</option>
  <option value=燥濕>燥濕</option>
  <option value=大腸經清熱燥濕>大腸經清熱燥濕</option>
  <option value=歸肝經散瘀止痛>歸肝經散瘀止痛</option>
  <option value=化痰>化痰</option>
  <option value=止宿>止宿</option>
  <option value=辟穢止痛>辟穢止痛</option>
  <option value=有大毒祛痰消積>有大毒祛痰消積</option>
  <option value=本品甘平>本品甘平</option>
  <option value=消腫生肌>消腫生肌</option>
  <option value=心經平肝潛陽>心經平肝潛陽</option>
  <option value=補脾肺腎>補脾肺腎</option>
  <option value=通經下乳>通經下乳</option>
  <option value=溫肺化飲>溫肺化飲</option>
  <option value=縮尿>縮尿</option>
  <option value=聰耳明目>聰耳明目</option>
  <option value=腎經固精縮尿>腎經固精縮尿</option>
  <option value=健脾>健脾</option>
  <option value=寒；有毒>寒；有毒</option>
  <option value=平袪瘀止痛>平袪瘀止痛</option>
  <option value=益精血>益精血</option>
  <option value=止痢>止痢</option>
  <option value=脾經補腎助陽>脾經補腎助陽</option>
  <option value=清熱明目>清熱明目</option>
  <option value=補火助陽>補火助陽</option>
  <option value=肝經化痰>肝經化痰</option>
  <option value=斂汗止血>斂汗止血</option>
  <option value=肝經消食化積>肝經消食化積</option>
  <option value=回乳消脹>回乳消脹</option>
  <option value=生津液>生津液</option>
  <option value=脾經活血行氣>脾經活血行氣</option>
  <option value=心經祛風散寒>心經祛風散寒</option>
  <option value=大腸經活血祛瘀>大腸經活血祛瘀</option>
  <option value=歸胃經解表袪暑>歸胃經解表袪暑</option>
  <option value=清火>清火</option>
  <option value=生津>生津</option>
  <option value=味鹹>味鹹</option>
  <option value=開鬱散結>開鬱散結</option>
  <option value=收濕斂瘡>收濕斂瘡</option>
  <option value=除疳熱>除疳熱</option>
  <option value=肺經峻下冷積>肺經峻下冷積</option>
  <option value=透疹利咽>透疹利咽</option>
  <option value=一云苦澀>一云苦澀</option>
  <option value=散瘀止痛>散瘀止痛</option>
  <option value=止痹痛>止痹痛</option>
  <option value=歸手足陽明>歸手足陽明</option>
  <option value=健脾益氣>健脾益氣</option>
  <option value=溫肺定喘>溫肺定喘</option>
  <option value=潤燥>潤燥</option>
  <option value=祛濕斂瘡>祛濕斂瘡</option>
  <option value=肝經祛風散寒>肝經祛風散寒</option>

  
</select>

  <!-- ends -->
  <!-- jQuery -->
  <script src="/static/CMdiagnose/js/jquery.min.js"></script>
  <script src="/static/CMdiagnose/js/jquery.quicksearch.min.js"></script>
  <!-- Bootstrap JavaScript -->
  <script src="/static/CMdiagnose/js/bootstrap.min.js"></script>
  <script src="/static/CMdiagnose/js/jquery.multi-select.js"></script>
  <script src="/static/CMdiagnose/js/FontChange.js"></script>
  <script type="text/javascript">
  // run pre selected options



$('.searchable[name=general]').multiSelect({
  selectableHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='嘗試輸入 \"炎\"'>",
  selectionHeader: "<input type='text' class='search-input' autocomplete='off'>",
  afterInit: function(ms){
    var that = this,
        $selectableSearch = that.$selectableUl.prev(),
        $selectionSearch = that.$selectionUl.prev(),
        selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
        selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
    .on('keydown', function(e){
      if (e.which === 40){
        that.$selectableUl.focus();
        return false;
      }
    });

    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
    .on('keydown', function(e){
      if (e.which == 40){
        that.$selectionUl.focus();
        return false;
      }
    });
  },
  afterSelect: function(values){
    this.qs1.cache();
    this.qs2.cache();
    alert("Select value: "+values);
    document.getElementById("generext").value += values + "," ;
  },

  afterDeselect: function(){
    this.qs1.cache();
    this.qs2.cache();
    
    
  }
  
},

$('#my_form').submit(function(event) {
  event.preventDefault(); //this will prevent the default submit

  document.getElementById("generext").value=Traditionalized(document.getElementById("generext").value);
  if (document.getElementById("generext").value.substr(-1)==','){
    document.getElementById("generext").value=document.getElementById("generext").value.slice(0, -1);
  }
  // your code here
  $(this).unbind('submit').submit(); // continue the submit unbind preventDefault
})
);
  </script>
  </br></br></br>
  </div>
</form>

<!-- <form action="{% url 'CMdiagnose:newyext' %}" method="post">
  {% csrf_token %}
  <label>General Symptoms</label>
  <input type="text" id="generext" name="generext" value=""><br>
  <input type="submit" value="get search result">
</form>

<form action="{% url 'CMdiagnose:newx' %}" method="post">
  {% csrf_token %}
  <label>General Symptoms for Xue</label>
  <input type="text" id="generex" name="generex" value=""><br>
  <input type="submit" value="get search result">
</form> -->